<div class="page-header">
   <h1>Users <small>awesome people using mapmatic</small></h1>
</div>
<div class="container">
	<% @users.reverse.each do |user| %>
	<%= user.name %> (<a href="/users/<%= user.username %>"><%= user.id %></a>)
	<% end %>
</div>


