<h1>about mapmatic</h1>
<br>

<p>brought to you by <a href="https://twitter.com/#!/j3r3miah">Jeremiah</a> and <a href="https://twitter.com/#!/CamFortin">Cam</a></p>

<ul>
<li><a href="https://sites.google.com/site/mapmaticco/">google site here</a></li>
<li><a href="http://quiet-spring-2241.herokuapp.com/">heroku app</a></li>
</ul>