<div class="page-header">
   <h1>Discover the world <small>mapmatic is a fun new way to discover and share places</small></h1>
 </div>
<div class="row">
	            <div class="span4">
	              <h3>take pictures of places you love</h3>
	              <p>add spots on the go with our app and mapmatic will automatically create a map for you!</p>
	              <p><a class="btn btn-primary" href="#">download the app</a></p>
	            </div><!--/span-->
				<div class="span4">
	              <h3>plan a whole hike or vacation</h3>
	              <p>browse maps by geography, type and other attributes and easily add spots to your own maps.</p>
	              <p><a class="btn" href="#maps">check out a sample map</a></p>
	            </div><!--/span-->
				<div class="span4">
	              	<h3>discover local gems</h3>
		              <p>see what people are finding near you! Here are some of the most recent spots people have added.</p>
	              <p><%= link_to 'recent spots', spots_path, class: "btn"  %></p>
	            </div><!--/span-->
</div>

<!-- Sample Google Map Integrations
================================================== -->

<section id="maps">
  <div class="page-header">
    <h1>Sample Map <small>using the google maps api</small></h1>
  </div>
  <div class="row">
    <div class="span3 columns">
      <h3>Well hello there!</h3>
      <p>Maps will go here...</p>
      <a href="/spots" class="btn">view spots</a>
    </div>
    <div class="span9 columns">
      <h2>Creating Maps</h2>
      <p>It's so easy!</p>
      <div class="well">
        <p class="muted" style="margin-bottom: 0;">Tight pants next level keffiyeh haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A artisan whatever keytar, scenester farm-to-table banksy Austin freegan cred raw denim single-origin coffee viral.
        </p>
      </div>
      <hr>
      <h2>Discovering new places</h2>
      <p>Head on over to the spots page...</p>
      <div class="well">
        <p class="muted" style="margin-bottom: 0;">Tight pants next level keffiyeh haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A artisan whatever keytar, scenester farm-to-table banksy Austin freegan cred raw denim single-origin coffee viral.
        </p>
  </div>
</section>
