<h1>welcome to mapmatic</h1>
<br>

<p>brought to you by <a href="https://twitter.com/#!/j3r3miah">Jeremiah</a> and <a href="https://twitter.com/#!/CamFortin">Cam</a></p>

<a class="btn" href="/spots/new">add a spot!</a>