<h1>welcome to mapmatic</h1>
<br>
<div class="row-fluid">
            <div class="span3">
              <h3>What is mapmatic?</h3>
              <p>Mapmatic is an easy way to create and share maps. Save spots for later. Find new spots to visit.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span3">
              	<h3>Cool mapmatics</h3>
	              <p>Want to see some examples? Me too...be patient!</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span3">
              <h3>Make your own!</h3>
              <p>Add a spot in seconds.</p>
              <p><a class="btn btn-primary" href="/spots/new">add a spot! &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->