<div class="span12">
          <div class="hero-unit">
            <h1>Welcome to Mapmatic</h1>
			<h2>maps made fun and easy</h2>
			<br />
            <p>Mapmatic is a new way to share and discover interesting places and maps. Go on a hike and take pictures along the way and mapmatic will make a custom map automatically...add neat photos you find to your "places to travel list"...or even make a treasure map for your kid. Enjoy!</p>
            <p><a class="btn btn-primary btn-large" href="#">Sign Up! &raquo;</a></p>
          </div>
<br>
<div class="row-fluid">
            <div class="span4">
              <h3>Save a spot!</h3>
              <p>Add a spot in seconds.</p>
              <p><a class="btn btn-primary" href="/spots/new">add a spot! &raquo;</a></p>
            </div><!--/span-->
			<div class="span4">
              	<h3>Recent Spots</h3>
	              <p>See sample spots entered into the database</p>
              <p><%= link_to 'See Spots', spots_path, class: "btn"  %></p></a>
            </div><!--/span-->
			<div class="span4">
              <h3>What is mapmatic?</h3>
              <p>Mapmatic is an easy way to create and share maps. Save spots for later. Find new spots to visit.</p>
              <p><a class="btn" href="/about">about mapmatic</a></p>
            </div><!--/span-->
          </div><!--/row-->