<div class="navbar navbar-fixed-bottom">
  <div >
    <div class="container">
      <div class="pull-right">
	    brought to you by <a href="https://twitter.com/#!/j3r3miah">Jeremiah</a> and <a href="https://twitter.com/#!/CamFortin">Cam</a>
      </div>
    </div>
  </div>
</div>